body{
 background-color: #000000;
  background-image: linear-gradient(to bottom, #000000, #FFFFFF);
  background-repeat: no-repeat;
}

main{
        margin-left:10px;
        padding:10px;
        font-family: 'Bungee', cursive;
}

nav {
   background-color:#000000;
   margin-bottom:0px;
   margin-left:auto;
  margin-right:auto;
  width:1080px; 
  padding-right:0px;
  padding-left: 2px;
  padding-top: 30px;
  padding-bottom: 10px;
    
}
nav a {
        text-align:right ;
        font-family: 'Bungee', cursive;
        position:relative;
        bottom:5px;  
        text-decoration: none;

}

nav li {
    display:inline-block;
    padding: 0.2em 0em  0em 0em;
    margin:2px;
    background-color:#d2d2d2;
}
  nav a:hover {
  top:-8px;
  }

header{
background-color: #f3f3f3;
padding:13px;
background-image: url('logo1.png');
background-size:190px;
margin-top:0px;
background-repeat: no-repeat;
background-position: right center;
width:1070px;
padding-right:0px;
font-family: 'Bungee', cursive;
margin-left:auto;
margin-right:auto;
}
img{
        float:right;
        padding:20px;
        height:300px;
}
footer{
text-align:center;
font-family: 'Bungee', cursive;
padding:10px;
}


#strip{
         background-color: #000000;
         background-size:cover;
         color:#000000;
}
.strip{
  background-color: #000000;
         background-size:cover;
         color:#000000;
}

 .pic{
background-image: url('flag_background.png');
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}
#fishy{
background-image: url('ilikefish.jpg');
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#wrapper{
  margin-left:auto;
  margin-right:auto;
  width:1080px;
  background-color: #f3f3f3;
  min-width: 960px;
  max-width: 2048px;
  box-shadow: 0px 2px 10px #333333;
  float: clear;
}
#clockdiv > div{
    padding: 80px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
    margin-left:30px;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}
header, main, nav, footer, figure, figcaption, aside, section, article { display:block; }

@media only screen and (max-width: 960px) {
 
  body {
    margin:0px;
    background-color: #FFFFFF;
  }
  #wrapper {
    box-shadow: none;
    padding:10px;
    width:100%;
  }
  #wrappper{
width:100%;
  }
  .nomobile{
    display: none;
  }
  main {
    margin-left: 0px;
  }
  nav {
    float:none;
    width: auto;
    text-align: center;
  
  }
  nav li {
    display:block;
    color:white;
  }
  footer
   {
    margin-left: 0px;
   }
  #strip
  {
    margin-left:0px;
    height: 20px;
  }
   .strip
  {
    margin-left:0px;
    height: 20px;
  }
  .pic
  {
    margin-left:0px;

  }

  #fishy
  {
    margin-left:0px;
    height: 200px;
  }
  #clockdiv > div{
    padding: 20px;
    border-radius: 3px;
    background: #00BF96;
    display: block;
    margin-left:10px;
}

#clockdiv div > span{
    padding: 5px;
    border-radius: 3px;
    background: #00816A;
    display: block;
}

  

 }

@media only screen and (max-width:37.5em) {

 label 
 { float: none; text-align: left; } 
 input[type="submit"] { margin-left: 0; }
 
body{ margin:0px; }
  header {
    padding:1em;
  }
  
  main {
    font-size:90%;
    font-family: "Times New Roman", Times, serif;
  }

   h1 {
    font-size: 1.5em;
    font-family: "Times New Roman", Times, serif;
   }
   
   h2
   {
     font-size: 1.5em;
    font-family: "Times New Roman", Times, serif;
   }

   h3{
            font-size: 1.5em;
    font-family: "Times New Roman", Times, serif;
   }

   nav {

    background-color:#000000;
    margin:0px;
    padding:0px;
    display:block;

  
   }


   nav li {
    margin:0px
    padding:0px;
    border-bottom:2px solid #330000;
    
   }
   nav a {
    display:block;
    text-align:center;
    margin:0px;
    padding:0px;
    background-color:none;
    font-family: "Times New Roman", Times, serif;
   }


  #strip
  
  {

    height:15px;
  }
.strip
{

    height:15px;
}
 .pic
  {
    background-image:none;
    height: 0px;
  }
  #fishy
  {
    background-image:none;
    height: 0px;
  }
  #mobile {
    display:inline;
  }

  #desktop {
    display:none;
  }
  #wrapper{
box-shadow: none;
  }
  .slider-wrapper {
display:none;
  }
.nomobile{
  display:none;
}
 #clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: block;
    margin-left:10px;
}

#clockdiv div > span{
    padding: 4px;
    border-radius: 3px;
    background: #00816A;
    display: block;
}